<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="'width=device-width, initial-scale=1">
    <link th:href="@{/css/styleSheet.css}" type="text/css" rel="stylesheet" />
    <title>New Pet</title>
</head>

<body>

<div class="sidenav">
    <h1>Pet Sitter</h1>
    <hr>
    <a th:href="@{/clients}">Clients</a>
    <a th:href="@{/appointments}">Appointments</a>
    <a th:href="@{/clients/showFormForAdd}">
        Add Client
    </a>
</div>


<h3>Create Pet</h3>
<hr>
<div>
    <p>Pet Information</p>

    <form action="#" th:action="@{/pets/save/} + ${client.client_id}"
          th:object="${pet}" method="POST">

        <input type="text" th:field="*{pet_name}" placeholder="Pet Name">
        <input type="text" th:field="*{pet_type}" placeholder="Type">
        <button type="submit">Add Pet</button>

    </form>
</div>


</body>
</html>