<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="'width=device-width, initial-scale=1">
    <link th:href="@{/css/styleSheet.css}" type="text/css" rel="stylesheet"/>
    <title>Add Pet</title>
</head>

<body>

<div class="sidenav">
    <h1>Pet Sitter</h1>
    <hr>
    <a th:href="@{/clients}">Clients</a>
    <a th:href="@{/appointments}">Appointments</a>
    <a th:href="@{/clients/showFormForAdd}">
        Add Client
    </a>
</div>

<div class="container">
    <h1>Create Pet</h1>
    <hr>
    <div>
        <h2>Pet Information</h2>

        <form action="#" th:action="@{/pets/save/} + ${client.client_id}"
              th:object="${pet}" method="POST">
<div>
    <h3>Pet Name</h3>
            <input type="text" th:field="*{pet_name}" placeholder="Pet Name">
</div>
            <div>
                <h3>Pet Type</h3>
            <input type="text" th:field="*{pet_type}" placeholder="Type">
            </div>
            <button class="myButton" type="submit" style="margin-top: 20px" >Add Pet</button>

        </form>
    </div>
</div>

</body>
</html>