<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="'width=device-width, initial-scale=1">

    <title>Update Appointment</title>
</head>

<body>

<div>
    <h3>Update Appointment</h3>
    <hr>

    <p>Appointment Information</p>

    <form action="#" th:action="@{/saveAppointment/} + ${appointment.appointment_id}"
          th:object="${appointment}">

        <input type="text" th:field="*{apt_start_date}" placeholder="${appointment.apt_start_date}">
        <input type="text" th:field="*{apt_end_date}" placeholder="${appointment.apt_end_date}">
        <p th:text="${client.client_first_name} + ' ' + ${client.client_last_name}"></p>
        <input type="text" th:field="*{time}" placeholder="${appointment.time}">

        <button type="submit">Save</button>

    </form>
</div>


</body>
</html>