<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="'width=device-width, initial-scale=1">
    <link th:href="@{/css/styleSheet.css}" type="text/css" rel="stylesheet" />

    <title>Update Client</title>
</head>

<body>

<div class="sidenav">
    <h1>Pet Sitter</h1>
    <hr>
    <a th:href="@{/clients}">Clients</a>
    <a th:href="@{/appointments}">Appointments</a>
    <a th:href="@{/clients/showFormForAdd}">
        Add Client
    </a>
</div>

<div class="container">
<h1>Update Client</h1>
<hr>
<div>
    <h2>Client Information</h2>

    <form action="#" th:action="@{/saveClient/} + ${client.client_id} + '/' + ${address.address_id}"
            th:object="${client}">
<div>
    <h3>First Name</h3>
        <input type="text" th:field="${client.client_first_name}" placeholder="${client.client_first_name}">
</div>
        <div>
            <h3>Last Name</h3>
        <input type="text" th:field="${client.client_last_name}" placeholder=${client.client_last_name}>
        </div>
        <div>
            <h3>Phone Number</h3>
        <input type="text" th:field="${client.client_phone_number}" placeholder="${client.client_phone_number}">
        </div>
        <div>
            <h3>Email</h3>
        <input type="text" th:field="${client.client_email}" placeholder="${client.client_email}">
        </div>
        <button class="myButton" type="submit" style="margin-top: 20px">Save</button>

    </form>
</div>

</div>
</body>
</html>