<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="'width=device-width, initial-scale=1">
    <link th:href="@{/css/styleSheet.css}" type="text/css" rel="stylesheet" />
    <title>Update Address</title>
</head>

<body>

<div class="sidenav">
    <h1>Pet Sitter</h1>
    <hr>
    <a th:href="@{/clients}">Clients</a>
    <a th:href="@{/appointments}">Appointments</a>
    <a th:href="@{/clients/showFormForAdd}">
        Add Client
    </a>
</div>

<div>
    <h3>Update Address</h3>
    <hr>

    <p>Address Information</p>

    <form action="#" th:action="@{/saveAddress/} + ${address.address_id}"
            th:object="${address}">

        <input type="text" th:field="*{street_address}" placeholder="${address.street_address}">
        <input type="text" th:field="*{city}" placeholder="${address.city}">
        <input type="text" th:field="*{state}" placeholder="${address.state}">
        <input type="text" th:field="*{zipcode}" placeholder="${address.zipdcode}">

        <button type="submit">Save</button>

    </form>
</div>


</body>
</html>