<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/styleSheet.css}" type="text/css" rel="stylesheet"/>
    <title>Clients</title>
</head>

<body>


<div class="sidenav">
    <h1>Pet Sitter</h1>
    <hr>
    <a th:href="@{/clients}">Clients</a>
    <a th:href="@{/appointments}">Appointments</a>
    <a th:href="@{/clients/showFormForAdd}">
        Add Client
    </a>
</div>


<div class="container">


    <h1>Clients</h1>
    <hr>

    <table class="clientTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Pets</th>
            <th>Actions</th>


        </tr>
        </thead>

        <tbody>
        <tr th:each="tempClient : ${clients}">

            <td th:text="${tempClient.client_first_name} + ' ' +${tempClient.client_last_name}"></td>
            <td th:text="${tempClient.client_phone_number}"></td>
            <td th:text="${tempClient.client_email}"></td>
            <td th:text="${tempClient.address_id}"></td>
            <td th:text="${tempClient.pets.toString()
                            .replace('[', ' ')
                            .replace(']', ' ')}"></td>
            <td>
                <a class="myButton" th:href="@{/clients/} + ${tempClient.client_id}">View</a>

            </td>

        </tr>


        </tbody>
    </table>

</div>



</body>
</html>