<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="'width=device-width, initial-scale=1">

    <title>New Client</title>
</head>

<body>


    <h3>Create Client</h3>
    <hr>
    <div>
        <p>Client Information</p>

        <form action="#" th:action="@{/address/showFormForAddress}"
            th:object="${client}" method="POST">

            <input type="text" th:field="*{client_first_name}" placeholder="First Name">
            <input type="text" th:field="*{client_last_name}" placeholder="Last Name">
            <input type="text" th:field="*{client_phone_number}" placeholder="Phone Number">
            <input type="text" th:field="*{client_email}" placeholder="Email">
            <button type="submit">Save</button>

        </form>
</div>


</body>
</html>