<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Client</title>
</head>

<body>

<div class="container">

    <h3 th:text="${client.client_first_name} + ' ' + ${client.client_last_name}"></h3>

    <hr>

    <!-- Add a button -->
    <a th:href="@{/clients}"
       class="btn btn-primary btn-sm mb-3">
        Home
    </a>

    <a th:href="@{/updateClient/} + ${client.client_id}"
       class="btn btn-primary btn-sm mb-3">
        Update Client
    </a>

    <a th:href="@{/pet/showFormForPet/} + ${client.client_id}"
       class="btn btn-primary btn-sm mb-3">
        Add Pet
    </a>

    <a th:href="@{/deleteClient/} + ${client.client_id}"
       class="btn btn-primary btn-sm mb-3">
        Remove Client
    </a>




    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
        </thead>

        <tbody>
        <tr>

            <td th:text="${client.client_first_name}"></td>
            <td th:text="${client.client_last_name}"></td>
            <td th:text="${client.client_phone_number}"></td>
            <td th:text="${client.client_email}"></td>


        </tr>
        </tbody>
    </table>

</div>

<p><strong>Street Name</strong></p>
<p th:text="${address.address_id}"></p>

<p th:text="${address.street_address}"></p>
<p th:text="${address.city}"></p>
<p th:text="${address.state}"></p>
<p th:text="${address.zipcode}"></p>

<div th:each="pet : ${pets}">
    <p th:text="${pet.pet_name}"></p>
    <a th:href="@{/deletePet/} + ${client.client_id} + '/' + ${pet.pet_id}">Remove Pet</a>
</div>






</body>
</html>