<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="'width=device-width, initial-scale=1">

    <title>Appointment Form</title>
</head>

<body>

<div>
    <h3>Appointment Information</h3>
    <hr>

    <p>Create Appointment</p>

    <form action="#" th:action="@{/appointments/save/} + ${client.client_id}"
          th:object="${appointment}" method="POST">

        <input type="text" th:field="*{apt_start_date}" placeholder="Start Date">
        <input type="text" th:field="*{apt_end_date}" placeholder="End Date">
        <input type="text" th:field="*{time}" placeholder="Time">

        <button type="submit">Save</button>

    </form>
</div>


</body>
</html>