<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="'width=device-width, initial-scale=1">
    <link th:href="@{/css/styleSheet.css}" type="text/css" rel="stylesheet" />
    <title>Appointment Form</title>
</head>

<body>

<div class="sidenav">
    <h1>Pet Sitter</h1>
    <hr>
    <a th:href="@{/clients}">Clients</a>
    <a th:href="@{/appointments}">Appointments</a>
    <a th:href="@{/clients/showFormForAdd}">
        Add Client
    </a>
</div>
<div class="container">
    <h1>Appointment Information</h1>
    <hr>

    <h2>Create Appointment</h2>

    <form action="#" th:action="@{/appointments/save/} + ${client.client_id}"
          th:object="${appointment}" method="POST">
<div>
    <h3>Start Date</h3>
        <input type="text" th:field="*{apt_start_date}" placeholder="Start Date">
</div>
        <div>
            <h3>End Date</h3>
        <input type="text" th:field="*{apt_end_date}" placeholder="End Date">
            </div>
        <div>
            <h3>Time</h3>
        <input type="text" th:field="*{time}" placeholder="Time">
        </div>

        <div>
            <h3>Notes</h3>
            <textarea type="comment" th:field="*{notes}" placeholder="Notes" maxlength= "500"> </textarea>

        </div>

        <button class="myButton" type="submit" style="margin-top: 20px">Save</button>

    </form>
</div>


</body>
</html>