<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/styleSheet.css}" type="text/css" rel="stylesheet"/>
    <title>Appointment</title>
</head>

<body>

<div class="sidenav">
    <!-- Add a button -->
    <h1>Pet Sitter</h1>
    <hr>
    <a th:href="@{/clients}">Clients</a>
    <a th:href="@{/appointments}">Appointments</a>
    <a th:href="@{/clients/showFormForAdd}">
        Add Client
    </a>


</div>

<div class="container">
    <div class="buttonsForSingle">
        <h1 th:text="Appointment"></h1>
        <div class="buttons">
            <a class="myButton" th:href="@{/updateAppointment/} + ${appointment.appointment_id}">
                Edit Appointment
            </a>

            <a class="myButton" th:href="@{/deleteAppointment/} + ${appointment.appointment_id}">
                Remove Appointment
            </a>
        </div>
    </div>
    <hr>

    <div class="containerGrid">
        <div class="containerOne">
            <h2>Appointment Information</h2>
            <h3><strong>Start Date</strong></h3>
            <p th:text="${appointment.apt_start_date}"></p>
            <h3><strong>End Date</strong></h3>
            <p th:text="${appointment.apt_end_date}"></p>
            <h3><strong>Time</strong></h3>
            <p th:text="${appointment.time}"></p>
            <div class="noteContainer">
                <h3><strong>Notes</strong></h3>
                <p th:text="${appointment.notes}"></p>
            </div>

        </div>

        <div class="containerTwo">
            <h2>Client Information</h2>
            <h3><strong>First Name</strong></h3>
            <p th:text="${client.client_first_name}"></p>
            <h3><strong>Last Name</strong></h3>
            <p th:text="${client.client_last_name}"></p>
            <h3><Strong>Phone Number</Strong></h3>
            <p th:text="${client.client_phone_number}"></p>
            <h3><Strong>Email</Strong></h3>
            <p th:text="${client.client_email}"></p>
        </div>

        <div class="containerThree">
            <div class="containerThreeRowOne" th:each="pet : ${pets}">
                <h2>Address Information</h2>
                <h3>Street Name</h3>
                <p th:text="${address.street_address}">
                <h3>City</h3>
                <p th:text="${address.city}"></p>
                <h3>State</h3>
                <p th:text="${address.state}"></p>
                <h3>Zip code</h3>
                <p th:text="${address.zipcode}"></p>

            </div>
            <div class="containerThreeRowTwo" >
                <h2>Pets</h2>
                <div class="buttonsForSingle" th:each="pet : ${pets}">
                    <div>
                        <h3>Pet Name</h3>
                        <p th:text="${pet.pet_name}"></p>
                    </div>
                    <div>
                        <h3>Pet Type</h3>
                        <p th:text="${pet.pet_type}"></p>
                        <a class="myButton inline"  th:href="@{/deletePet/} + ${client.client_id} + '/' + ${pet.pet_id}">Remove Pet</a>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>


</body>
</html>